/*global*/

body {
    background-color: #f4f4f4;
    font-family: Hack, Arial, sans-serif;
    color: white;
}

/*On page*/

h1 {
    text-align: center;
    margin-top: 40px;
    color: orange;
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 8px 10px black;
}

.form-container {
    width: 80%;
    height: 80vh;
    margin: auto;
    background-color: #3A3B3B;
}

.form-container p {
    text-align: center;
    padding-top: 20px;
    font-size: 17px;
}

#description span {
    font-size: 12px;
}

#survey-form .terms {
    font-size: 1px;
}

.formRow {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#name,
.formRow {
    display: inline-block;
}

.wrong {
    color: grey;
   text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.dodgy {
    padding-top: 55px;
    margin-left: -10px;
}

.dodgy input {
    border: 5px solid red;
}

.radio {
    padding-top: 40px;
    float: right;
    padding-right: 70px;
    text-align: right;
}

.radio ul {
    list-style: none;
}

.check {
    width: 160px;
    margin-top: 100px;
    margin-left: 190px;
    border: 3px solid yellow;
    padding: 10px;
    background-color: white;
    color: red;
}

button {
    margin: 70px;
    background-color: #5773A1;
    padding: 30px;
    border: 2px solid red;
    font-size: 10px;
}